h1 {
    font-weight: bold;
    font-size: 25px;
}

h2 {
    font-weight: 600;
    font-size: 15px;
}

h6 {
    font-weight: 600;
    font-size: 9px;
}

.text-normal {
    font-weight: normal;
    font-size: 12px;
}

.progress-heading {
    font-weight: bold;
    font-size: 11px;
}

.progress-bar-text {
    font-size: 11px;
    text-align: left;
    text-indent: 10px;
}